<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:center;">

    <div style="text-align:center;">
        <img src="https://img2.pngio.com/financial-accounting-desk-vector-png-desk-finance-png-and-finance-vector-png-650_400.jpg" alt="HTML5 Icon"/><br>
    </div>

    <div style="margin-bottom: 10px;">
        <h1 >Aquí encuentras el flujo contable de tu tienda:</h1>
        Actualmente no tienes ningún registro
    </div>
    <br>

    <div style="text-align:center; margin-bottom: 10px; font-family:Optima;">
            <form action="/control_center">
            <button type="submit">Regresar al centro de control</button>
        </form>
    </div>

    <div style="text-align:center; background-color:powderblue;">
        <small><b>Créditos:</b><br>
        - Esteban Sierra Gayón y Lina Pérez González - Grupo 3 - <br>
        - Desarrollo Web - Profesor Ciro Gamboa - MisionTIC2022 - <br>
        &#128512;
        <br>
        Foto tomada de Efficy <a href="https://bit.ly/3Awu37z" title="Efficy: ">Efficy.com</a>
        </small>
        </div>
</body>
</html>