<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center;">
        <h1 style="font-family:Optima;"> En mitiendavirtual.com ayudamos a las tiendas de barrio a digitalizarse!</h1>
        <h3 style="font-family:Optima;"> Creemos que el futuro del país está en el fortalecimiento de la economía del barrio</h3>
    </div>

    <div style="text-align:center; margin-bottom: 10px; font-family:Optima;">
        <p>
            <strong>Los beneficios de mitiendavirtual.com</strong><br>
            - Acompañamos las tiendas de barrio  a ser más competitivas<br>
            - Creamos soluciones sencillas para el manejo ordenado, transparente y fácil de su inventario.<br>
            - Facilitamos los pedidos online, la gestión de cartera y contabilidad.<br>
            <br>
            <strong>Nuestra innovación es la modalidad "Te Fío"</strong><br>
            Además de los métodos tradicionales, nuestra plataforma soporta y digitaliza el método de fiar.<br>
            En la versión digital de la usual práctica de fiar de las tiendas de barrio, el tendero lleva una contabilidad <br>
            más clara, con datos personales del deudor, fechas de pago, alertas automatizadas de pago sobre cuentas por cobrar, etc. <br>
            <br>
        </p>
    </div>

    <div style="text-align:center; margin-bottom: 10px; font-family:Optima;">
        <!-- <form action="http://127.0.0.1:5000/register">-->
            <form action="/register"></form>
            <button type="submit">Regístrese aquí!</button>
        </form>
    </div>
    <br>
    <div style="text-align:center; margin-bottom: 10px; font-family:Optima;">
        <form action="/login"></form>
        <!-- <form action="http://127.0.0.1:5000/login"> -->
            <b>Si ya está registrado, inicie sesión aquí:</b><br>
            <br>
            <button type="submit">Inicio de sesión</button>
        </form>
    </div>
    <br>
    <div style="text-align:center;">
        <img src="https://besthqwallpapers.com/Uploads/21-2-2020/122727/online-shopping-monochrome-online-business-concepts-online-store-concepts-laptop.jpg" alt="HTML5 Icon" style="width: 50%; height: 50%"/><br>
    </div>
    <br>
    <br>
    <div style="text-align:center; background-color:powderblue;">
        <small><b>Créditos:</b><br>
        - Esteban Sierra Gayón y Lina Pérez González - Grupo 3 - <br>
        - Desarrollo Web - Profesor Ciro Gamboa - MisionTIC2022 - <br>
        &#128512;
        <br>
        Foto tomada de Geniux: <a href="https://bit.ly/3l58ff2" title="E-Commerce: ">www.geniux.com.co</a>
    </small>
    </div>

</body>
</html>