<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:center;">

    <div style="text-align:center;">
        <img src="https://www.prevent.es/Files/HtmlCustom/Documentos/registro%20rgpd.jpg" alt="HTML5 Icon"><br>
        <small>Foto tomada de Event Security: <a href="https://bit.ly/3l58ff2" title="Event Security: ">www.prevent.es</a></small>
    </div>

    <div>
        <h1 style="margin-bottom: 10px;">Registro de Productos</h1>
    </div>
    
    <form action="{{url_for('product')}}" method="post" enctype="multipart/form-data">
        <h2 style="margin-bottom: 10px;">Ingrese la información de sus productos en el inventario</h2>

        <div style="margin-bottom: 13px;">
            <p style="font-family:Optima;">
            <b>Producto:</b><br>
            <input type="text" name="Producto" placeholder="Escriba el nombre del producto aquí">
            </p>
        </div>
        
        <div style="margin-bottom: 13px;">     
            <p style="font-family:Optima;"></p>          
            <b>Categoría:</b><br>
            <input type="text" name="Categoría" placeholder="Escriba la categoría del producto aquí">
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <p style="font-family:Optima;">
            <b>Unidad:</b><br>
            <input type="text" name="Unidad" placeholder="Escriba la unidad del producto">
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <p style="font-family:Optima;">
            <b>Precio por unidad:</b><br>
            <input type="text" name="Precio unidad" placeholder="Escriba el precio por unidad">
            </p>
        </div>
        
        <div style="margin-bottom: 13px;">
            <input type="submit" value = "Aceptar y enviar">
        </div>
    </form>

        <br>
        <br>
        <div style="text-align:center; background-color:powderblue;">
            <small><b>Créditos:</b><br>
            - Esteban Sierra Gayón y Lina Pérez González - Grupo 3 - <br>
            - Desarrollo Web - Profesor Ciro Gamboa - MisionTIC2022 - <br>
            &#128512;
        </small>
        </div>
</body>
</html>