<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:center;">

    <div style="text-align:center;">
        <img src="https://cdn.liveagent.com/app/uploads/2020/08/img-login.svg?v=2021-06-25" alt="HTML5 Icon" width="424"; height="424"/><br>
    </div>

    <div>
        <h1 style="margin-bottom: 10px;">Inicio de sesión</h1>
    </div>

    <form action="{{url_for('check_user')}}" method="post" enctype="multipart/form-data">
        <h2 style="margin-bottom: 10px;">Ingresa tus datos de usuario para acceder a tu perfil</h2>

        <div style="margin-bottom: 13px;">
            <p style="font-family:Optima;">
            <b>Email:</b><br>
            <input type="text" name="Email" placeholder="Escribe tu email aquí">
            </p>
        </div>
        
        <div style="margin-bottom: 13px;">     
            <p style="font-family:Optima;"></p>          
            <b>Contraseña:</b><br>
            <input type="password" name="Contraseña" placeholder="Escribe tu contraseña">
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <input type="submit" value = "Aceptar y enviar">
        </div>
    </form>

        <br>
        <br>
        <div style="text-align:center; background-color:powderblue;">
            <small><b>Créditos:</b><br>
            - Esteban Sierra Gayón y Lina Pérez González - Grupo 3 - <br>
            - Desarrollo Web - Profesor Ciro Gamboa - MisionTIC2022 - <br>
            &#128512;
            <br>
            Foto tomada de Live Agent: <a href="https://bit.ly/3A7HIC0" title="Live agent: ">www.liveagent.de/</a>
        </small>
        </div>

</body>
</html>