<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

img {
  max-width: 100%;
  height: auto;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
}
</style>
</head>
<body>

  <div class="container">
    <img src="https://besthqwallpapers.com/Uploads/21-2-2020/122727/online-shopping-monochrome-online-business-concepts-online-store-concepts-laptop.jpg" alt="Nature" style="width:100%;">
    <div class="topleft">
        Top Left
    </div>
  </div>

</body>
</html> 
