<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:center; font-family:Optima;">

    <div style="text-align:center;">
        <img src="https://www.prevent.es/Files/HtmlCustom/Documentos/registro%20rgpd.jpg" alt="HTML5 Icon" width="424"; height="424"/><br>
    </div>

    <div>
        <h1 style="margin-bottom: 10px;">Registro</h1>
    </div>
<br>
    <form action="/login">
        <h8>Si ya estás registrado, inicia sesión aquí:</h8><br>
        <br>
        <button type="submit">Inicio de sesión</button>
    </form>
    <br>
    <br>

    <form action="{{url_for('create_user')}}" method="post" enctype="multipart/form-data">
        <h2 style="margin-bottom: 10px;">Ingresa tus datos para crear su usuario</h2>

        <div>
            <b>Asegúrate de llenar todos los campos de manera correcta. Todos los campos son obligatorios</b><br>
            </p>
        </div>
        <br>
        <br>
        <br>
        <div style="margin-bottom: 13px;">
            <b>Nombres:</b><br>
            <input type="text" name="Nombres" placeholder="Escriba su(s) nombre(s) aquí">
            </p>
        </div>
        
        <div style="margin-bottom: 13px;">     
            <b>Apellidos:</b><br>
            <input type="text" name="Apellidos" placeholder="Escriba sus apellidos">
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <b>Email:</b><br>
            <input type="text" name="Email" placeholder="Escriba su email">
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <b>Contraseña:</b><br>
            <input type="password" name="Contraseña" placeholder="Escriba su contraseña">
            </p>
        </div>

        <div>
        <b>Tipo de tienda:</b><br>

        <input type="radio" id="Supermercado" name="Tipo de tienda" value="Supermercado">
        <label for="Supermercado">Supermercado</label><br>

        <input type="radio" id="Víveres" name="Tipo de tienda" value="Víveres">
        <label for="Víveres">Víveres</label><br>

        <input type="radio" id="Miscelánea" name="Tipo de tienda" value="Miscelánea">
        <label for="Miscelánea">Miscelánea</label><br>

        <input type="radio" id="Carnicería/Salsamentaria" name="Tipo de tienda" value="Carnicería/Salsamentaria">
        <label for="Carnicería/Salsamentaria">Carnicería/Salsamentaria</label><br>

        <input type="radio" id="Panadería" name="Tipo de tienda" value="Panadería">
        <label for="Panadería">Panadería</label><br>

        <input type="radio" id="Heladería" name="Tipo de tienda" value="Heladería">
        <label for="Heladería">Heladería</label><br>

        <input type="radio" id="Papelería/Pastelería" name="Tipo de tienda" value="Papelería">
        <label for="Papelería">Papelería</label><br>

        <input type="radio" id="Droguería" name="Tipo de tienda" value="Droguería">
        <label for="Droguería">Droguería</label><br>

        <input type="radio" id="Tienda para Mascotas" name="Tipo de tienda" value="Tienda para Mascotas">
        <label for="Tienda para Mascotas">Tienda para Mascotas</label><br>

        <input type="radio" id="Tienda de ropa" name="Tipo de tienda" value="Tienda de ropa">
        <label for="Tienda de ropa">Tienda de ropa</label><br>

        <input type="radio" id="Productos Cosméticos" name="Tipo de tienda" value="Productos Cosméticos">
        <label for="Productos Cosméticos">Productos Cosméticos</label><br>

        <input type="radio" id="Floristería/Detalles" name="Tipo de tienda" value="Floristería/Detalles">
        <label for="Floristería/Detalles">Floristería/Detalles</label><br>
        </div>

        <div style="margin-bottom: 13px;">
            <p><strong>Por favor lea los términos y condiciones del servicio:</strong><br>
            <small>Al marcar la opción "Acepto las Condiciones de uso" estás de acuerdo en aceptar los siguientes términos y condiciones ("Condiciones de uso"). 
                Cualquier nueva característica o herramienta que pueda añadirse al actual servicio estarán también sujetas a los términos y condiciones de uso.
                Debes saber que cuando creas una tienda virtual dentro del sistema mitiendavirtual.com, eres responsable del funcionamiento de la tienda virtual que 
                has creado, así como de los datos que has introducido, de las operaciones de compraventa que se realicen y del manejo de los datos personales de los compradores 
                registrados en tu tienda virtual.</small><br>
            </p>
        </div>

        <div style="margin-bottom: 13px;">
            <input type="submit" value = "Aceptar y enviar">
        </div>
    </form>

        <br>
        <br>
        <div style="text-align:center; background-color:powderblue;">
            <small><b>Créditos:</b><br>
            - Esteban Sierra Gayón y Lina Pérez González - Grupo 3 - <br>
            - Desarrollo Web - Profesor Ciro Gamboa - MisionTIC2022 - <br>
            &#128512;
            <br>
            Foto tomada de Event Security: <a href="https://bit.ly/3l58ff2" title="Event Security: ">www.prevent.es</a>
        </small>
        </div>
</body>
</html>